<div class="grid">
  <div class="cell" (click)="humanMove(0,0)">
    {{this.board[0][0]}}
  </div>
  <div class="cell" (click)="humanMove(0,1)">
    {{this.board[0][1]}}
  </div>
  <div class="cell" (click)="humanMove(0,2)">
    {{this.board[0][2]}}
  </div>
  <div class="cell" (click)="humanMove(1,0)">
    {{this.board[1][0]}}
  </div>
  <div class="cell" (click)="humanMove(1,1)">
    {{this.board[1][1]}}
  </div>
  <div class="cell" (click)="humanMove(1,2)">
    {{this.board[1][2]}}
  </div>
  <div class="cell" (click)="humanMove(2,0)">
    {{this.board[2][0]}}
  </div>
  <div class="cell" (click)="humanMove(2,1)">
    {{this.board[2][1]}}
  </div>
  <div class="cell" (click)="humanMove(2,2)">
    {{this.board[2][2]}}
  </div>
</div>
<button type="button" name="start" (click)="initBoard()" >New game</button>
<router-outlet></router-outlet>
